<header class="myheader">
    <h1>
        <a style="all: unset" href="/">Intern managment</a>
    </h1>

    <nav>
        <ul class="parent">
            <li>
                <a href="/">
                    All test Courses
                </a>
            </li>
            <li><a href="/Signing">Sign In </a></li>
            <li id="dark" class="mode">change mode</li>
            <li><a href=""> Support Us </a></li>
        </ul>
    </nav>
</header>