<!DOCTYPE html>

<html lang="ar">
  <%- include('./partials/head') %>
  <body id="body">
    <%- include('./partials/header') %>

    <main id="main">
      <section>
        <h1>Trending Articles &#128293;</h1>

        <div class="parent-of-articles">
          
         
          <article>
            <h2></h2>

            <p>
              HTML is the standard markup language for Web pages...

              <a class="btn" href="/dddddd">show more</a>
            </p>
          </article>




        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
